<!doctype html>
<head>
    <title>Image Holder</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        function generate() {
            var image_type = ''
            var image_obj_list = document.getElementsByName("image_type");
            for (i = 0; i < image_obj_list.length; i++) {
                if (image_obj_list[i].checked) {
                    image_type = image_obj_list[i].value;
                    break;
                }
            }
            var width = document.getElementById("width").value;
            var height = document.getElementById("height").value;
            var color = document.getElementById("color").value;
            $.ajax({
                type: "POST", 
                dataType: "json", 
                url: "/image_holder/image_holder", 
                contentType: "application/json", 
                data: JSON.stringify({
                    "image_type": image_type, 
                    "width": width, 
                    "height": height, 
                    "color": color
                }), 
                success: function(result) {
                    console.log(result);
                    console.log(result.image_url);
                    var image_container = document.getElementById("image_container");
                    image_container.src = "/image_holder" + result.image_url;
                }
            });
        }
    </script>
</head>
<body>
    <h1>Image Holder</h1>
    <form action="" onsubmit="return false" method="POST">
        <label for="image_type">图片类型</label>
        <input type="radio" id="jpg" name="image_type" value="jpg" checked>JPG
        <input type="radio" id="png" name="image_type" value="png">PNG
        <br>
        <label for="width">宽度</label>
        <input type="text" name="width" id="width" required>
        <br>
        <label for="width">高度</label>
        <input type="text" name="height" id="height" required>
        <br>
        <label for="color">颜色</label>
        <input type="text" name="color" id="color" required>
        <br>
        <button type="button" class="btn" onclick="generate()">提交</button>
    </form>
    <img id="image_container" src="" alt="生成图片"/>
</body>
